:root {
    --mycolorBlue : #253765;
}

.bg-custom {
    background-color: var(--mycolorBlue);
    /* linear gradient al posto di var */
}

.text-custom {
    color: var(--mycolorBlue);
}

i {
    transition: 0.4s;
}

i:hover {
    transform: scale(1.5);
}

.title-custom {
    color: rgb(31, 144, 182);
}

.bg-custom2 {
    background-color: #fff2df;
}